<!DOCTYPE html>
<html lang="en">
<form action="/submitreimbursement" method="post">
    <div class="container">
        <label><b>Expense Amount</b></label>
        <input type="number" placeholder="Enter amount" name="expenseAmount" required>

        <label><b>Description</b></label>
        <input type="text" placeholder="Enter Description" name="description" required>

        <label><b>Employee Id</b></label>
        <input type="text" placeholder="Enter Id" name="employeeId" required>
        <button type="submit">Submit</button>
    </div>

</form>